<div class="flight-calendar-container">
  <div *ngFor="let row of rows" class="flight-calendar-rows">
    <div *ngFor="let weekDay of columns" class="flight-day">
      <div class="dayDate">
        <span>{{allDates[row][weekDay].date}}/{{allDates[row][weekDay].month}}</span>
        <span>{{days[allDates[row][weekDay].day]}}</span>
      </div>
      <div *ngIf="allDates[row][weekDay].flightPrice; else noflight" class="flight-rate">
        <span>
          Fare
        </span>
        <span>
          {{allDates[row][weekDay].flightPrice | currency}}
        </span>
      </div>
      <ng-template #noflight>
        <span class="no-flight">
          No Flights Available
        </span>
      </ng-template>
    </div>
  </div>
</div>
