.flight-calendar-container {
  /* display: flex;
    flex-direction: column;
    align-items: center; */
  /* width: 100%;
    justify-content: center;
    flex-wrap: wrap; */
}

.flight-day {
  height: 110px;
  width: 150px;
  /* background-color: antiquewhite; */
  /* background:linear-gradient(135deg, #eab1ff 0%,#fbdc6b 100%); */
  /* background:linear-gradient(135deg, #a3e8df 0%,#f8ea8c 100%); */
  /* background:linear-gradient(135deg, #ffd1cd 0%,#d5fffa 100%); */
  /* background:linear-gradient(135deg, #ffdde8 0%,#b4fffb 100%);
    background:linear-gradient(135deg, #ffd1cd 0%,#d5fffa 100%);
    background:linear-gradient(135deg, #63a1ff 0%,#8bfcfe 100%); */
  background: linear-gradient(135deg, #c4ecfb 0%, #9dbefd 100%);

  margin: 5px;
  padding: 6px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dayDate {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.flight-rate {
  display: flex;
  justify-content: space-between;
}

.no-flight {
  font-size: 14px;
}

.flight-calendar-rows {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
