.flight-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.flight-dropdown-width {
    width: 200px;
}

h2 {
    text-align: center;
    margin: 10px;
}

.flight-dd-container {
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;

}

.errorMsg {
    align-self: center;
    color: white;
    background: #DC3545;
    border-radius: 10px;
    padding: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-transition: width 2s;
    transition: width 2s;
}

.flight-calendar-container {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    /* width: 100%;
    justify-content: center;
    flex-wrap: wrap; */
}

.flight-day {
    height: 110px;
    width: 150px;
    /* background-color: antiquewhite; */
    /* background:linear-gradient(135deg, #eab1ff 0%,#fbdc6b 100%); */
    /* background:linear-gradient(135deg, #a3e8df 0%,#f8ea8c 100%); */
    /* background:linear-gradient(135deg, #ffd1cd 0%,#d5fffa 100%); */
    /* background:linear-gradient(135deg, #ffdde8 0%,#b4fffb 100%);
    background:linear-gradient(135deg, #ffd1cd 0%,#d5fffa 100%);
    background:linear-gradient(135deg, #63a1ff 0%,#8bfcfe 100%); */
    background:linear-gradient(135deg, #c4ecfb 0%,#9dbefd 100%);

    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.flight-calendar-rows {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

