.flight-calendar-container {
  /* display: flex;
    flex-direction: column;
    align-items: center; */
  /* width: 100%;
    justify-content: center;
    flex-wrap: wrap; */
}

.flight-day {
  height: 110px;
  width: 150px;
  /* background: linear-gradient(135deg, #c4ecfb 0%, #9dbefd 100%); */
  background-color: rgba(10, 10, 10, 0.20);  
  
  backdrop-filter: blur(5px);

  margin: 5px;
  padding: 6px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dayDate {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.flight-rate {
  display: flex;
  justify-content: space-between;
}

.no-flight {
  font-size: 14px;
  align-self: center;
}

.flight-calendar-rows {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
