<div class="flight-container">
  <h2> Flight Calendar</h2>
  <div class="flight-dd-container">
    <div class="d-inline-block" ngbDropdown #oridinDrop="ngbDropdown">
      <button class="btn btn-outline-primary mr-2 flight-dropdown-width" id="dropdownManual" ngbDropdownAnchor
        (focus)="oridinDrop.open()">{{origin}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownManual">
        <button ngbDropdownItem value="SIN" (click)="changeOrigin('Singapoore')">Singapore</button>
        <button ngbDropdownItem value="KUL" (click)="changeOrigin('Kuala Lumpur')">Kuala Lumpur</button>
      </div>
    </div>

    <div class="d-inline-block" ngbDropdown #destinationDrop="ngbDropdown">
      <button class="btn btn-outline-primary mr-2 flight-dropdown-width" id="dropdownManual" ngbDropdownAnchor
        (focus)="destinationDrop.open()">{{destination}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownManual">
        <button ngbDropdownItem value="SIN" (click)="changeDestination('Singapoore')">Singapore</button>
        <button ngbDropdownItem value="KUL" (click)="changeDestination('Kuala Lumpur')">Kuala Lumpur</button>
        <button ngbDropdownItem value="SFO" (click)="changeDestination('San Francisco')">San Francisco</button>
      </div>
    </div>
    <button (click)="getFlightDetail()" [disabled]="invalidRoute" type="button" class="btn btn-primary">Primary</button>
  </div>

  <div class="errorMsg" *ngIf="invalidRoute">Origin and destination should not be same</div>

  <div class="flight-calendar-container">
    <div *ngFor="let row of rows" class="flight-calendar-rows">
      <div *ngFor="let weekDay of columns" class="flight-day">
          <!-- <span>{{dayCounter(dayItem)}}</span> -->
          {{allDates[row][weekDay].date}}
          {{days[allDates[row][weekDay].day]}}
      </div>
    </div>
  </div>
</div>
