<h2>Flight Calendar - Cheapest fare</h2>
<div class="flight-dd-container">
  <div class="d-inline-block" ngbDropdown #oridinDrop="ngbDropdown">
    <button class="btn btn-outline-primary mr-2 flight-dropdown-width" id="dropdownManual" ngbDropdownAnchor
      (focus)="oridinDrop.open()">{{origin}}</button>
    <div ngbDropdownMenu aria-labelledby="dropdownManual">
      <button ngbDropdownItem value="SIN" (click)="changeOrigin($event)">Singapore</button>
      <button ngbDropdownItem value="KUL" (click)="changeOrigin($event)">Kuala Lumpur</button>
    </div>
  </div>

  <div class="d-inline-block" ngbDropdown #destinationDrop="ngbDropdown">
    <button class="btn btn-outline-primary mr-2 flight-dropdown-width" id="dropdownManual" ngbDropdownAnchor
      (focus)="destinationDrop.open()">{{destination}}</button>
    <div ngbDropdownMenu aria-labelledby="dropdownManual">
      <button ngbDropdownItem value="SIN" (click)="changeDestination($event)">Singapore</button>
      <button ngbDropdownItem value="KUL" (click)="changeDestination($event)">Kuala Lumpur</button>
      <button ngbDropdownItem value="SFO" (click)="changeDestination($event)">San Francisco</button>
    </div>
  </div>
  <button (click)="searchFlight()" [disabled]="!locationSelected" type="button" class="btn btn-primary">Search
    Flight</button>
</div>

<div class="errorMsg" *ngIf="invalidRoute">Origin and destination should not be same</div>
